.character {
   position: relative;

}

.guide {
  position: absolute;
}
.part {
    position: absolute;
}

.eyes {
    position: absolute;
    z-index: 3;
    left: 19px;
}

.eyesoutline {
  position:absolute;
  z-index: 2;
  width:100%;
  height:100%;
}


.whole_head {
  position: absolute;
  /*animation: float 2s ease-in-out infinite;*/
}
.head {
    
    position: absolute;
    margin-top:19px;
    z-index: 2;
}
.headcolor {
   z-index: 1;
   margin-top: -500px;
   position: relative; 
}
/*soon, i will have to temporarily disable the floating animation to position the eyes, mouth, and whatever*/

.headoutline {
   z-index: 2;
   position: relative;
  width: 100%; 
  height: 100%; 
}
/*
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); 
    }
}*/


